/* CSS file for Rum Apple Cake recipe site */
/* Author: Rexford Haugen */
/* Date Modified: 2023-07-09 */

/* Default Styles */

body {
    /* Apply default Google Font for body */
    font-family: "Noto Serif", 'Times New Roman', Times, serif;
    background-size: cover;
    background-attachment: fixed;
}

section h3 {
    text-align: center;
    width: 100%;
}

.symbol {
    font-family: "Noto Sans Symbols 2";
}

img {
    width: 100%;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.2rem;
}

p.picture-description {
    margin-top: 0.25rem;
    text-align: center;
}

p {
    text-align: justify;
}

/* Page width */

body {
    max-width: 1000px;
    min-width: calc(360px - 2rem);
    padding: 0 1rem;
    margin: auto;
    min-height: 100vh;
}

hr {
    max-width: 1000px;
    width: 90%;
    min-width: 280px;
}

/* Header */

header {
    text-align: center;
    position: sticky;
    top: 0;
    background: inherit;
    border-bottom-width: 0.1rem;
    border-bottom-style: dashed;
    z-index: 100;
}

header a {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
header a:visited {
    text-decoration: none;
}

header hr {
    padding: 0;
    margin: 0;
    width: 100vw;
}

/* Navigation */

header nav ul {
    padding: 0;
}

header nav ul li {
    display: inline;
    line-height: 2rem;
}

nav ul li:not(:last-child)::after {
	content: "—";
}

/* Sections */

section[id]::before {
    content: "";
    width: 100%;
    display: block;
}

section[id] {
    position: relative;
}

/* Columns */

div.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.column {
    max-width: 45%;
    min-width: 280px;
    margin: auto;
}

/* Images */

section#Welcome img {
    float: left;
    margin: 1rem;
}

/* Footer */

footer p {
    /* Center align footer text */
    text-align: center;
}

/* Colors */

section h3, nav h1 {
    color: darkslategray;
}

.symbol {
    color: darkgreen;
}

strong {
    color: midnightblue;
}

body {
    background-color: papayawhip;
    background-image: radial-gradient(circle, floralwhite 25%, papayawhip 75%);
}

header {
    border-bottom-color: black;
}

header a, header a:visited {
    color: black;
}

header a:hover {
    background: gainsboro;
}

img {
    border-color: darkslategray;
}

/* Media queries */

@media (max-width: 589px) {

    /* Move photos below text for mobile */
    div.column.mob-hid {
        display: none;
    }
}

@media (min-width: 590px) {

    /* Allow photos to flip-flop between sections */
    div.column.mob-vis {
        display: none;
    }
}

@media (max-width: 399px) {

    /* Set increased header height */
    header {
        height: 160px;
    }

    section[id]::before {
        height: 160px;
        margin-top: -160px;
    }

    section#Welcome img {
        width: 100%;
        margin: 1rem 0;
    }

    div.column.narrow {
        width: 100%;
    }

    div.column.wide {
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 679px) {

    /* Set increased header height */
    header {
        height: 130px;
    }

    section[id]::before {
        height: 130px;
        margin-top: -130px;
    }

    section#Welcome img {
        width: auto;
        margin: 1rem;
        max-height: 300px;
        max-width: calc(100% - 2rem);
    }

    div.column.narrow {
        width: 33%;
    }

    div.column.wide {
        width: 67%;
    }
}

@media (min-width: 680px) {

    /* Set standard header height */
    header {
        height: 100px;
    }

    section[id]::before {
        height: 100px;
        margin-top: -100px;
    }

    section#Welcome img {
        width: 50%;
    }

    div.column.narrow {
        width: 33%;
    }

    div.column.wide {
        width: 67%;
    }
}