/* CSS file for Rum Apple Cake recipe site */
/* Author: Rexford Haugen */
/* Date Modified: 2023-06-18 */

/* Default Styles */

body {
    /* Apply default Google Font for body */
    font-family: "Noto Serif", 'Times New Roman', Times, serif;
    background-color: white;
}

section h3 {
    text-align: center;
    width: 100%;
}

.symbol {
    font-family: "Noto Sans Symbols 2";
}

/* Page width */

body {
    max-width: 1000px;
    min-width: 360px;
    padding: 0 1rem;
    margin: auto;
    min-height: 100vh;
}

hr {
    max-width: 1000px;
    width: 90%;
    min-width: 280px;
}

/* Media queries */

@media (max-width: 399px) {

    /* Set increased header height */
    header {
        height: 160px;
    }

    section[id]::before {
        height: 160px;
        margin-top: -160px;
    }
}

@media (min-width: 400px) and (max-width: 679px) {

    /* Set increased header height */
    header {
        height: 130px;
    }

    section[id]::before {
        height: 130px;
        margin-top: -130px;
    }
}

@media (min-width: 680px) {

    /* Set standard header height */
    header {
        height: 100px;
    }

    section[id]::before {
        height: 100px;
        margin-top: -100px;
    }
}

/* Header */

header {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: inherit;
    border-bottom-color: black;
    border-bottom-width: 0.1rem;
    border-bottom-style: dashed;
    z-index: 100;
}

header a {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: black;
}
header a:visited {
    text-decoration: none;
    color: black;
}

header a:hover {
    background-color: gainsboro;
}

header hr {
    padding: 0;
    margin: 0;
    width: 100vw;
}

/* Navigation */

header nav ul li {
    display: inline;
    line-height: 2rem;
}

nav ul li:not(:last-child)::after {
	content: "—";
}

/* Sections */

section[id]::before {
    content: "";
    width: 100%;
    display: block;
}

section[id] {
    position: relative;
}

/* Columns */

div.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.column {
    max-width: 45%;
    min-width: 280px;
    margin: auto;
}

/* Images */

section#Welcome aside img {
    max-width: 40%;
    min-width: 280px;
    float: left;
    margin: 1rem;
}

section#Ingredients aside img {
    max-width: 40%;
    min-width: 280px;
    float: right;
    margin: 1rem;
}

section#Cake aside img {
    max-width: 40%;
    min-width: 280px;
    float: left;
    margin: 1rem;
}

section#Topping aside img {
    max-width: 40%;
    min-width: 280px;
    float: right;
    margin: 1rem;
}

section#Serving aside img {
    max-width: 40%;
    min-width: 280px;
    float: left;
    margin: 1rem;
}

/* Footer */

footer p {
    /* Center align footer text */
    text-align: center;
}